@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body {
  text-align: center;
  font-size: 1em;
  font-family: verdana;
  margin: 0;
}

h1 {
  font-family: 'Silkscreen';
  font-size: 3em;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  margin: 0 0 30px 0;
  color: #333;
}

.cursor {
  padding: 0 2px;
  width: 1px;
  height: 20px;
  background-color: rgba(144, 144, 144, 0.5);
  animation: blink 1s step-start infinite;
}

.visible {
  visibility: visible;
}

@keyframes blink {
  50% {
    visibility: hidden;
  }
}